# 4.1 Data Exploration 

Note: Credit Card Fraud dataset is downloaded from https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud?resource=download

## Basic Exploration

1. Import `pandas` library
2. Import dataset

In [30]:
import pandas as pd

df = pd.read_csv('../datasets/creditcard.csv')

In [31]:
# Archive step: cut down some rows in cc.zip
# df = df.drop(df.index[142403:284806])
# df.to_csv("../datasets/creditcard.csv", index=False)

In [32]:
import os
file_name = "../datasets/creditcard.csv"
file_stats = os.stat(file_name)
print(f'File Size in MB is {file_stats.st_size / (1024 * 1024)}')

File Size in MB is 71.9793815612793

3. Check the number of rows and columns in the loaded data

Output: (row numbers, column numbers)

In [33]:
df.shape

(142403, 31)

4. Print information about a DataFrame including the index dtype and columns, non-null values and memory usage.

All columns say float64 next to them, indicating they are of float data type, that is, numbers such as ..., -0.4, 1.29, 0.0, 1.5, 3.5,... . The exception is the Class column. This contains integer values that indicate if a transaction is fraudulent or not.

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142403 entries, 0 to 142402
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    142403 non-null  float64
 1   V1      142403 non-null  float64
 2   V2      142403 non-null  float64
 3   V3      142403 non-null  float64
 4   V4      142403 non-null  float64
 5   V5      142403 non-null  float64
 6   V6      142403 non-null  float64
 7   V7      142403 non-null  float64
 8   V8      142403 non-null  float64
 9   V9      142403 non-null  float64
 10  V10     142403 non-null  float64
 11  V11     142403 non-null  float64
 12  V12     142403 non-null  float64
 13  V13     142403 non-null  float64
 14  V14     142403 non-null  float64
 15  V15     142403 non-null  float64
 16  V16     142403 non-null  float64
 17  V17     142403 non-null  float64
 18  V18     142403 non-null  float64
 19  V19     142403 non-null  float64
 20  V20     142403 non-null  float64
 21  V21     142403 non-null  float64
 22  V22     142403 non-null  float64
 23  V23     142403 non-null  float64
 24  V24     142403 non-null  float64
 25  V25     142403 non-null  float64
 26  V26     142403 non-null  float64
 27  V27     142403 non-null  float64
 28  V28     142403 non-null  float64
 29  Amount  142403 non-null  float64
 30  Class   142403 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 33.7 MB

5. Print the first few rows of the DataFrame

In [35]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

5.1 Print more...

In [36]:
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

6. Print last few rows

In [37]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
142398,84689.0,-0.958424,0.158677,0.355967,-1.285726,2.624957,3.568378,0.253679,0.967816,-0.350978,...,-0.177771,-0.769466,-0.134086,1.014527,0.637807,0.220354,-0.031313,0.057888,67.61,0
142399,84690.0,0.984968,0.128543,0.184937,1.111150,-0.219888,-0.848688,0.516601,-0.198159,-0.553829,...,-0.253419,-1.015941,0.056629,0.487439,0.322926,-0.784093,-0.017026,0.035475,111.91,0
142400,84690.0,-2.220505,1.004012,1.817520,0.468496,-1.543388,0.783308,-1.443050,1.759537,0.113066,...,0.326262,0.815443,-0.316988,0.325663,0.346348,0.596696,-0.532298,-0.181901,8.99,0
142401,84691.0,-2.280315,2.241435,-0.082290,-0.417547,-0.700328,-0.393024,-0.347291,1.247646,-0.136156,...,-0.276048,-0.745789,0.016664,-0.401850,0.096932,0.093746,0.150113,-0.074114,9.99,0
142402,84691.0,-0.879062,0.476433,2.418721,-1.032235,-0.008689,-1.090413,0.919090,-0.466605,0.554397,...,-0.067034,-0.057123,0.021552,0.671743,-0.419799,-0.230648,-0.534309,-0.311789,5.99,0

7. Print columns of the dataframe

In [38]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

## Further Exploration

1. View the top n rows of the specific column

In [39]:
df[['Class', 'Time', 'Amount']].head()

   Class  Time  Amount
0      0   0.0  149.62
1      0   0.0    2.69
2      0   1.0  378.66
3      0   1.0  123.50
4      0   2.0   69.99

2. View last few rows of Dataframe

In [40]:
df[['Class', 'Time', 'Amount']].tail()

        Class     Time  Amount
142398      0  84689.0   67.61
142399      0  84690.0  111.91
142400      0  84690.0    8.99
142401      0  84691.0    9.99
142402      0  84691.0    5.99

3. Check the unique values of the class. 

The `Class` column, which decides if a transaction is fraudulent or not, should contain only two possible values (0,1), as we were informed by the client. It is useful to check the unique values of the class. 

Count the number of unique values using the .nunique() method on the Series (column) Class.

In [41]:
df['Class'].nunique()

2

4. Check what these unique values are

After we know there are two unique values for the Class column, we can check what these unique values are:

[0 1] that shows there are two unique values for the Class column that are 0 and 1.

In [42]:
df['Class'].unique()

array([0, 1], dtype=int64)

5. Find and store value counts

Also, we can use the `.value_counts()` method on the `Class` Series to know the value of Class and how often they occur.  We will perform this operation in this step and store the value counts in the `class_counts` variable.

Store the value counts in the variable defined as `id_counts` and then display the stored values

In [43]:
class_counts = df['Class'].value_counts() 
print(class_counts)

Class
0    142134
1       269
Name: count, dtype: int64

Based on the previous output, it shows all the class values have been reported by the client and there is no other value that is not defined by the data dictionary.

6. Check rows that have missing values for specific features.

There are several ways to check missing values. Although it is not within the context of this subject to dive into details of how to deal with missing values, we just later mention an example of missing values and a possible way to explore and check them. 

We can create a class mask

In [44]:
class_mask = df['Class'].isnull()
print(class_mask[0:5])

0    False
1    False
2    False
3    False
4    False
Name: Class, dtype: bool

Output shows that `isnull()` method returns `False` if the value is missing for a specific row for a specific feature (`Class` in this case). Similarly, `isnull()` method returns `True` if the value is missing for a specific row for a specific feature.

You can also count the number of missing values

In [45]:
print(sum(class_mask))

0

- `notnull()` returns `True` : the value is not missing for a specific row for a specific feature (`Class` in this case)
- `notnull()` returns `False` : the value is missing for a specific row for a specific feature,

In [46]:
class_mask_notNull = df['Class'].notnull()
print(class_mask_notNull[0:5])
print(sum(class_mask_notNull))

0    True
1    True
2    True
3    True
4    True
Name: Class, dtype: bool
142403

7. Generate a tabular report of summary statistics of specific features

Outpur shows 
- count of Amount feature values
- mean
- standard deviation std
- minimum value min  
- maximum value max 
 
We can notice that there are `284807` values. The minimum amount is `0.0` and the maximum is `25691.16`. 

Analysing these values could provide good indicators on the feature itself and if it could help to achieve the goal of the business problem (e.g. predicting if credit transaction is fraudulent based on the amount spent).

In [47]:
df[['Amount']].describe()

              Amount
count  142403.000000
mean       90.687055
std       246.459558
min         0.000000
25%         5.990000
50%        23.560000
75%        80.100000
max     19656.530000