# 4.1 Data Exploration 

Note: Credit Card Fraud dataset is downloaded from https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud?resource=download

## Basic Exploration

1. Import `pandas` library
2. Import dataset

In [25]:
import pandas as pd

df = pd.read_csv('../datasets/creditcard_50k.csv')

In [26]:
# Archive step: cut down some rows in cc.zip
# df = df.drop(df.index[50000:])
# df.to_csv("../datasets/creditcard_50k.csv", index=False)

In [27]:
import os
file_name = "../datasets/creditcard_50k.csv"
file_stats = os.stat(file_name)
print(f'File Size in MB is {file_stats.st_size / (1024 * 1024)}')

File Size in MB is 25.240177154541016

3. Check the number of rows and columns in the loaded data

Output: (row numbers, column numbers)

In [28]:
df.shape

(50000, 31)

4. Print information about a DataFrame including the index dtype and columns, non-null values and memory usage.

All columns say float64 next to them, indicating they are of float data type, that is, numbers such as ..., -0.4, 1.29, 0.0, 1.5, 3.5,... . The exception is the Class column. This contains integer values that indicate if a transaction is fraudulent or not.

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    50000 non-null  float64
 1   V1      50000 non-null  float64
 2   V2      50000 non-null  float64
 3   V3      50000 non-null  float64
 4   V4      50000 non-null  float64
 5   V5      50000 non-null  float64
 6   V6      50000 non-null  float64
 7   V7      50000 non-null  float64
 8   V8      50000 non-null  float64
 9   V9      50000 non-null  float64
 10  V10     50000 non-null  float64
 11  V11     50000 non-null  float64
 12  V12     50000 non-null  float64
 13  V13     50000 non-null  float64
 14  V14     50000 non-null  float64
 15  V15     50000 non-null  float64
 16  V16     50000 non-null  float64
 17  V17     50000 non-null  float64
 18  V18     50000 non-null  float64
 19  V19     50000 non-null  float64
 20  V20     50000 non-null  float64
 21  V21     50000 non-null  float64
 22  V22     50000 non-null  float64
 23  V23     50000 non-null  float64
 24  V24     50000 non-null  float64
 25  V25     50000 non-null  float64
 26  V26     50000 non-null  float64
 27  V27     50000 non-null  float64
 28  V28     50000 non-null  float64
 29  Amount  50000 non-null  float64
 30  Class   50000 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 11.8 MB

5. Print the first few rows of the DataFrame

In [30]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

5.1 Print more...

In [31]:
df.head(10)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
5,2.0,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,3.67,0
6,4.0,1.229658,0.141004,0.045371,1.202613,0.191881,0.272708,-0.005159,0.081213,0.464960,...,-0.167716,-0.270710,-0.154104,-0.780055,0.750137,-0.257237,0.034507,0.005168,4.99,0
7,7.0,-0.644269,1.417964,1.074380,-0.492199,0.948934,0.428118,1.120631,-3.807864,0.615375,...,1.943465,-1.015455,0.057504,-0.649709,-0.415267,-0.051634,-1.206921,-1.085339,40.80,0
8,7.0,-0.894286,0.286157,-0.113192,-0.271526,2.669599,3.721818,0.370145,0.851084,-0.392048,...,-0.073425,-0.268092,-0.204233,1.011592,0.373205,-0.384157,0.011747,0.142404,93.20,0
9,9.0,-0.338262,1.119593,1.044367,-0.222187,0.499361,-0.246761,0.651583,0.069539,-0.736727,...,-0.246914,-0.633753,-0.120794,-0.385050,-0.069733,0.094199,0.246219,0.083076,3.68,0

6. Print last few rows

In [32]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
49995,44296.0,-1.007648,0.722149,0.779027,-1.466661,0.298457,-0.263997,0.442429,0.400734,-0.591588,...,0.137489,0.171923,-0.205126,-0.650297,0.072522,1.391071,-0.167746,-0.019007,39.99,0
49996,44297.0,-5.202399,2.077079,-3.905209,1.097967,-1.719915,-0.803272,-1.162430,2.679623,-0.640010,...,-0.071897,0.396541,0.298550,-0.451037,-0.076617,-0.317780,0.508982,-0.144442,99.99,0
49997,44298.0,-1.597980,-0.363988,2.114888,-1.101263,-0.291577,0.009897,0.456899,0.029229,0.712018,...,-0.161615,0.008125,-0.142336,0.078871,-0.016251,0.836074,0.302804,-0.022386,172.14,0
49998,44298.0,-2.998734,2.323844,-2.419829,0.941745,-1.436231,-0.847601,-0.582896,1.965394,-0.846173,...,0.201051,0.456424,-0.059220,0.040043,-0.435842,-0.391904,0.375636,-0.024394,89.99,0
49999,44299.0,0.618650,-1.744738,0.367658,-1.486308,-1.724517,-0.818788,-0.159622,-0.136526,2.675536,...,0.043975,-0.211090,-0.343932,0.445524,0.481628,-0.873888,0.045765,0.089661,339.80,0

7. Print columns of the dataframe

In [33]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

## Further Exploration

1. View the top n rows of the specific column

In [34]:
df[['Class', 'Time', 'Amount']].head()

   Class  Time  Amount
0      0   0.0  149.62
1      0   0.0    2.69
2      0   1.0  378.66
3      0   1.0  123.50
4      0   2.0   69.99

2. View last few rows of Dataframe

In [35]:
df[['Class', 'Time', 'Amount']].tail()

       Class     Time  Amount
49995      0  44296.0   39.99
49996      0  44297.0   99.99
49997      0  44298.0  172.14
49998      0  44298.0   89.99
49999      0  44299.0  339.80

3. Check the unique values of the class. 

The `Class` column, which decides if a transaction is fraudulent or not, should contain only two possible values (0,1), as we were informed by the client. It is useful to check the unique values of the class. 

Count the number of unique values using the .nunique() method on the Series (column) Class.

In [36]:
df['Class'].nunique()

2

4. Check what these unique values are

After we know there are two unique values for the Class column, we can check what these unique values are:

[0 1] that shows there are two unique values for the Class column that are 0 and 1.

In [37]:
df['Class'].unique()

array([0, 1], dtype=int64)

5. Find and store value counts

Also, we can use the `.value_counts()` method on the `Class` Series to know the value of Class and how often they occur.  We will perform this operation in this step and store the value counts in the `class_counts` variable.

Store the value counts in the variable defined as `id_counts` and then display the stored values

In [38]:
class_counts = df['Class'].value_counts() 
print(class_counts)

Class
0    49852
1      148
Name: count, dtype: int64

Based on the previous output, it shows all the class values have been reported by the client and there is no other value that is not defined by the data dictionary.

6. Check rows that have missing values for specific features.

There are several ways to check missing values. Although it is not within the context of this subject to dive into details of how to deal with missing values, we just later mention an example of missing values and a possible way to explore and check them. 

We can create a class mask

In [39]:
class_mask = df['Class'].isnull()
print(class_mask[0:5])

0    False
1    False
2    False
3    False
4    False
Name: Class, dtype: bool

Output shows that `isnull()` method returns `False` if the value is missing for a specific row for a specific feature (`Class` in this case). Similarly, `isnull()` method returns `True` if the value is missing for a specific row for a specific feature.

You can also count the number of missing values

In [40]:
print(sum(class_mask))

0

- `notnull()` returns `True` : the value is not missing for a specific row for a specific feature (`Class` in this case)
- `notnull()` returns `False` : the value is missing for a specific row for a specific feature,

In [41]:
class_mask_notNull = df['Class'].notnull()
print(class_mask_notNull[0:5])
print(sum(class_mask_notNull))

0    True
1    True
2    True
3    True
4    True
Name: Class, dtype: bool
50000

7. Generate a tabular report of summary statistics of specific features

Outpur shows 
- count of Amount feature values
- mean
- standard deviation std
- minimum value min  
- maximum value max 
 
We can notice that there are `284807` values. The minimum amount is `0.0` and the maximum is `25691.16`. 

Analysing these values could provide good indicators on the feature itself and if it could help to achieve the goal of the business problem (e.g. predicting if credit transaction is fraudulent based on the amount spent).

In [42]:
df[['Amount']].describe()

             Amount
count  50000.000000
mean      93.266587
std      253.010040
min        0.000000
25%        7.627500
50%       25.000000
75%       85.250000
max    12910.930000